{% extends 'PrismPollBundle:Frontend:layout.html.twig' %}

{% block content %}
    <div id="polls_list">

        <h1>Polls List</h1>

        {% if polls %}
            <ul>
                {% for poll in polls %}
                    <li>
                        <h2>{{ poll }}</h2>
                        <div class="content">
                            {% render 'PrismPollBundle:Frontend\\Poll:Vote' with { 'pollId': poll.id } %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <script type="text/javascript">
                $('#polls_list form').live('submit', function(e) {

                    var contentDiv = $(this).parent();

                    $.ajax({
                        type: 'POST',
                        data: $(this).serialize(),
                        url: $(this).attr('action'),
                        success: function(response) {
                            ajaxSuccess(response, contentDiv);
                        },
                        error: function(){
                            ajaxError(contentDiv);
                        }
                    });

                    e.preventDefault();
                });

                $('a.see_results, a.see_form').live('click', function(e) {

                    var contentDiv = $(this).parent();

                    $.ajax({
                        type: 'GET',
                        url: $(this).attr('href'),
                        success: function(response) {
                            ajaxSuccess(response, contentDiv);
                        },
                        error: function(){
                            ajaxError(contentDiv);
                        }
                    });

                    e.preventDefault();
                });

                function ajaxSuccess(response, contentDiv) {
                    contentDiv.html(response);
                }

                function ajaxError(contentDiv) {
                    if (contentDiv.children('form').children('.ajax_error').length == 0) {
                        contentDiv.children('form').prepend('<div class="ajax_error error">An error occured. Please try again later.</div>');
                    }
                }
            </script>

        {% else %}
            Sorry, there are no polls at the moment.
        {% endif %}
    </div>

{% endblock %}