/* LIST
----------------------------------------*/
#polls_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#polls_list > ul > li {
    margin-bottom: 23px;
}
#polls_list > ul > li:last-child {
    margin-bottom: 0;
}

#polls_list h2 {
    font-size: 1.33em;
    line-height: 1.2em;
    margin: 0 0 9px 0;
}

#polls_list .content {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: #fafafa;
}

#polls_list form {
    margin-bottom: 10px;
}

#polls_list form ul {
    margin-bottom: 10px;
}

#polls_list form li {
    margin-bottom: 5px;
}

.ajax_error {
    margin-bottom: 10px;
}


/* RESULTS
----------------------------------------*/
.results th {
    padding: 0 70px 5px 0;
    font-weight: normal;
    text-align: left;
}

.results td {
    padding-bottom: 5px;
}

.results td.sub_total {
    font-weight: bold;
    padding-right: 5px;
    text-align: right;
}

.results .graph_bar {
    width: 250px;
    border: 1px solid #dadada;
    padding: 2px;
    background-color: #fff;
}

.results .fill {
    height: 22px;
    color: #fff;
    -webkit-animation: fill_animation 0.7s ease-out;
    -moz-animation: fill_animation 0.7s ease-out;
    animation: fill_animation 0.7s ease-out;
}
@-webkit-keyframes fill_animation {
    0% { width: 0; }
}
@-moz-keyframes fill_animation {
    0% { width: 0; }
}
@-keyframes fill_animation {
    0% { width: 0; }
}

.results .fill_color_1 {
    background-color: #1a4cf1;
}
.results .fill_color_2 {
    background-color: #db2465;
}
.results .fill_color_3 {
    background-color: #19b93e;
}
.results .fill_color_4 {
    background-color: #f4f700;
}
.results .fill_color_5 {
    background-color: #822ab9;
}
.results .fill_color_6 {
    background-color: #ff9422;
}
.results .fill_color_7 {
    background-color: #0ad3eb;
}
.results .fill_color_8 {
    background-color: #3b3b3b;
}

.results .total {
    text-align: right;
    font-weight: bold;
}